body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
  color:#999999;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:636px;
  word-wrap:break-word;
}
#u4571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:318px;
  width:287px;
  height:27px;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:323px;
  width:73px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u4574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4575 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:324px;
  width:16px;
  height:16px;
}
#u4576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:323px;
  width:16px;
  height:16px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:12px;
  width:24px;
  height:24px;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:11px;
  width:23px;
  height:23px;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:14px;
  width:29px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:93px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:130px;
  width:113px;
  height:20px;
  color:#FFFFFF;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:80px;
  width:123px;
  height:20px;
  color:#FFFFFF;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u4595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:172px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:211px;
  width:73px;
  height:20px;
  color:#FFFFFF;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:318px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:-1px;
  width:295px;
  height:318px;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:419px;
  width:310px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u4603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:456px;
  width:310px;
  height:141px;
  color:#666666;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:474px;
  width:281px;
  height:34px;
  font-size:12px;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u4607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:527px;
  width:281px;
  height:51px;
  font-size:12px;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u4609_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:621px;
  height:5px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:376px;
  width:618px;
  height:2px;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4611_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:360px;
  width:2px;
  height:16px;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4613_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:360px;
  width:2px;
  height:16px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:378px;
  width:0px;
  height:0px;
}
#u4615_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u4615_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:4px;
  width:387px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:383px;
  word-wrap:break-word;
}
#u4620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:124px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:41px;
  width:387px;
  height:124px;
  color:#666666;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:51px;
  width:362px;
  height:17px;
  font-size:12px;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u4624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4624 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:78px;
  width:356px;
  height:17px;
  font-size:12px;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u4626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:105px;
  width:356px;
  height:34px;
  font-size:12px;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:23px;
  width:0px;
  height:0px;
}
#u4628_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u4628_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-bottom:0px;
  border-radius:27px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4631 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:307px;
  width:54px;
  height:49px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:54px;
  width:360px;
  height:253px;
}
#u4634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:67px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:101px;
  width:29px;
  height:6px;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:155px;
  width:10px;
  height:10px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:155px;
  width:10px;
  height:10px;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:94px;
  width:20px;
  height:20px;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4645 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:124px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u4646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4647 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:182px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u4648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4649 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:239px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4651 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:157px;
  width:268px;
  height:6px;
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:150px;
  width:20px;
  height:20px;
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:212px;
  width:10px;
  height:10px;
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4657 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:212px;
  width:10px;
  height:10px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4659 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:214px;
  width:268px;
  height:6px;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:207px;
  width:20px;
  height:20px;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4663 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:99px;
  width:10px;
  height:10px;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:150px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:207px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:268px;
  width:10px;
  height:10px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:268px;
  width:10px;
  height:10px;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:270px;
  width:268px;
  height:6px;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:263px;
  width:20px;
  height:20px;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:263px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u4678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u4680 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:319px;
  width:29px;
  height:28px;
}
#u4681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u4682 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:324px;
  width:13px;
  height:13px;
}
#u4683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:12px;
  width:55px;
  height:23px;
}
#u4684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background-color:#666666;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
}
#u4684_input:disabled {
  color:grayText;
}
